.container {
  width: 80%;
  margin: 0 auto;
  font-family: futura, sans-serif;
}

.header h1 {
  text-align: center;
  margin: 60px 0 80px 0;
}

.image {
  display: inline-block;
  float: left;
  width: 100%;
}

.column {
  display: inline-block;
  float: left;
  width: 33%;
  padding: 0 40px;
}

.column p {
  text-align: justify;
}

.column h2 {
  text-align: center;
}

.main-text {
  clear: both;
  padding: 60px 10px;
  padding: top right bottom left;
  position: static;
  display: block;
  width: 90%;
}

.main-text h3 {
  text-align: center;
}


* { box-sizing: border-box; }

