.jumbotron {
	background-image: url("../img/mountains2.jpg");
	background-size: cover;
}

.jumbotron p {
	color: #223451;
}

.container a {
  color: #223451;
}

p,
a,
h2 {
  color: #223451;
}

.jumbotron h1 {
  color: #223451;
}

body {
  background-color: #dcdfe5;
}